
body {
    background-color: #778899;
}

button,
div,
form,
input {
  margin: 8px;
}

#label-form {
  display:block;
  font-weight: bold;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

#giphs-view {
    width: 75%;
}

#topic-form {
    width: 25%;
}
